@import "colors";

.btn-cancel,.btn-primary{
    width: 100%;
    border: 0 none;
    border-radius: 10px;
    font-size: 13px;
    text-align: center;
    padding: 7px;
    color: $white;
    &:hover {
        cursor: pointer;
        transition: 1s;
    }
}

.btn-primary{
    background-color: $color-secondary;
    &:hover {
        background-color: $color-primary;
    }
}

.btn-cancel{
    background-color: $red;
    padding: 7px;
    &:hover {
        background-color: $color-primary;
    }
}

button:disabled, button:disabled:hover{
    background-color: #e0e0e0;
}