.margin-left-10px{
    margin-left: 10px;
}

.width-50{
    width: 50% !important;
}

.width-100{
    width: 100% !important;
}

.container-tabla{
    width: 100%;
    padding: 20px;
    background-color: #fff;
}



