.margin-left-10px{
    margin-left: 10px;
}


.margin-right-20{
    margin-right: 20px;
}

.padding-20x10{
    padding: 10px 20px 10px 20px !important
}

.width-50{
    width: 50% !important;
}

.width-100{
    width: 100% !important;
}

.container-tabla{
    width: 100%;
    padding: 20px;
    background-color: #fff;
}



