.contenedor-busqueda{
    display: flex;
    background-color: #fff;
    padding: 20px;
}


.ajust-input-search{
    display: flex;
    align-items: center;
    margin-right: 10px;
}


.contenedor-detalle{
    background-color: #fff;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 10px;
}


.item-inventario{
    width: 33.3%;
    text-align: center;
    
}

.group-contenedor{
    border-radius: 10px;
    background-color: #fff;
    padding: 10px;
}

th,td{
    text-align: center;
}

.text-color-red{
    color: red !important;
}

::ng-deep .table-container {
    width: 100%;
    overflow: auto;
}

::ng-deep  .mat-mdc-table{
    background-color: #fff !important;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2) !important;
}


::ng-deep .mat-mdc-table {
    width: 100%;
    border-collapse: collapse; 
}
  
::ng-deep .mat-mdc-header-cell, 
::ng-deep .mat-mdc-cell {
    border: 1px solid #ccc !important; 
    padding: 8px; 
    color: black;
}

::ng-deep mat-paginator {
    background-color:  #fff !important;
    color: black !important;
  }

::ng-deep .mat-mdc-paginator-icon{
    fill: black !important;
}

::ng-deep .mat-mdc-paginator-navigation-first[disabled] .mat-mdc-paginator-icon,
::ng-deep .mat-mdc-paginator-navigation-previous[disabled] .mat-mdc-paginator-icon,
::ng-deep .mat-mdc-paginator-navigation-next[disabled] .mat-mdc-paginator-icon,
::ng-deep .mat-mdc-paginator-navigation-last[disabled] .mat-mdc-paginator-icon {
    fill: #cccccc !important;  
    opacity: 1 !important;
}

::ng-deep .mat-mdc-tooltip-disabled:disabled{
    background-color: #fff !important;
}


::ng-deep mat-icon{
    margin-left: 3px;
}

.custom-dialog-width .mat-dialog-container {
    width: 600px !important; 
    max-width: 100vw !important;
}
