.layout {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.close-session{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}
/* Sidebar fijo */
.sidebar {
    width: 220px;
    background-color: #2d2d2d;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}

.logo {
    margin-bottom: 30px;
}

.logo img {
    max-width: 60px;
    border-radius: 10px;
}

.menu {
    list-style: none;
    padding: 24px 0px 0px 24px;
    width: 100%;
}

.menu li {
    padding: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menu li:hover {
    background-color: #414141;
}

.menu li i {
    margin-right: 10px;
}

.menu li span {
    font-size: 16px;
}

.selected {
    color: #ffc120;
}

.user-section{
    display: flex;
    justify-content: center;
}

.content {
    flex-grow: 1;
    margin-left: 220px; 
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #2d2d2d;
    color: white;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    position: fixed;
    width: calc(100% - 220px);
    top: 0;
    left: 220px;
    z-index: 1;
}

.main-content {
    margin-top: 50px;
    padding: 20px;
    overflow-y: auto;
    height: calc(100vh - 50px);
     background-color: #edf2f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 40px;
}

.main-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -40px; 
    width: 40px;
    height: 50px;
    background-color: #2d2d2d; 
    border-top-left-radius: 40px; 
}